@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

input::placeholder, textarea::placeholder{
  color: #FFF;
}

table th, table td{
  padding: 0.60em;
  text-align: center;
}

table th{
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}